.contacts {
  background-color: $basicgrey;
}

.contacts__text {
  display: flex;
  justify-content: space-between;
  padding: 28px 20px;
  background-color: $basicgrey;
}

.contacts__map {
  min-height: 362px;
  background-color: $darkgrey;
}

.contacts__greet {
  font-family: $fontHeading;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: $darkgrey;
}


@media (min-width: $tablet-width) {
  .contacts__greet {
    font-size: 20px;
    line-height: 23px;
    margin-right: auto;
    flex-basis: 170px;
  }

  .contacts__address {
    font-size: 16px;
    margin-left: auto;
    text-align: right;
    flex-basis: 160px;
  }

  .contacts__street {
    display: inline-block;
    margin-bottom: 20px;
  }

  .contacts__map {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__text {
    position: absolute;
    top: 95px;
    box-sizing: border-box;
    padding: 60px 76px;
    max-width: 570px;
    grid-column-gap: 87px;
    background-color: $basicwhite;
    z-index: 1;
  }

  .contacts,
  .contacts__text {
    background-color: $basicwhite;
  }

  .contacts__address {
    text-align: left;
  }
}
