.features__title {
  @include block-title;
}

.features__list {
  list-style: none;
}

.features__item {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $basicgreen;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.features__item--leaf {
  &::before {
    content: url("../../img/icons/icon_leaf.svg");
  }
}

.features__item--powder {
  &::before {
    content: url("../../img/icons/icon_powder.svg");
  }
}

.features__item--fork {
  &::before {
    content: url("../../img/icons/icon_fork.svg");
  }
}

.features__item--clock {
  &::before {
    content: url("../../img/icons/icon_clock.svg");
  }
}

.features__text {
  color: $darkgrey;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .features__item {
    &::before {
      width: 80px;
      height: 80px;
    }
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;
  }
}
