.footer {
  background-color: $basicgrey;
}

.footer__container {
  display: grid;
  padding: 47px 0 0;

  @include adaptive-width;
}

.footer__logo {
  justify-self: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  justify-self: center;
  justify-content: center;
  display: flex;
}

.footer__logo,
.footer__social {
  width: 100%;
  border-bottom: 1px solid $grey;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 22px;
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 150px;
    display: flex;
    align-items: center;
  }

  .footer__container {
    padding: 0;
    width: 100%;
    flex-basis: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo {
    width: 128px;
    justify-self: start;
    align-self: center;
    padding: 0;
  }

  .footer__logo,
  .footer__social {
    width: initial;
    border: none;
  }

  .footer__social {
    justify-self: center;
    align-self: center;
    padding: 0;
  }

  .footer__copyright {
    justify-self: end;
    align-self: center;
    justify-content: space-between;
    padding: 0;
  }
}
