.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  outline-offset: -5px;
  height: 37px;
  display: inline-flex;
  align-items: center;
}

.header__navigation {
  width: 100%;
}

.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__title,
.header__subtitle {
  font-weight: 400;
  color: $basicwhite;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.header__title {
  font-size: 36px;
  line-height: 36px;
}

.header__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-family: $fontHeading;
  text-transform: uppercase;
}

.header__branding {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
}

.header__button {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: calc(100% - 40px);
}

@media screen and (min-width: $tablet-width) {
  .header__nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
  }

  .header__logo {
    height: 51px;
  }

  .header__icon {
    display: none;
  }

  .header__branding {
    background-image: none;
    min-height: 810px;
  }

  .header__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 24px;
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
  }

  .header__title,
  .header__subtitle {
    color: $basicblack;
  }

  .header__button {
    margin-top: 50px;
    margin-left: 0;
    position: static;
    max-width: 244px;
  }
}

@media screen and (min-width: $desktop-width) {
  .header__logo {
    height: 60px;
  }

  .header__branding {
    min-height: 604px;
    width: $desktop-container-width;
  }

  .header__title {
    margin-top: 61px;
  }

  .header__title,
  .header__subtitle,
  .header__button {
    margin-left: 80px;
  }

  .header__title,
  .header__subtitle {
    max-width: 414px;
  }
}
