.navigation {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.navigation__item {
  font-size: 20px;
  line-height: 20px;
  font-family: $fontHeading;
  font-weight: 500;
  text-transform: uppercase;
  outline: 5px solid rgba(0, 255, 200, 0.8);
  outline-offset: -5px;
}

.navigation__link {
  color: $basicblack;
}

@media screen and (min-width: $tablet-width) {
  .navigation__list {
    align-items: center;
    flex-direction: row;
    min-height: 60px;
    justify-content: flex-end;
  }

  .navigation__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .navigation__toggle {
    display: none;
  }
}


@media screen and (min-width: $desktop-width) {
  .navigation__item {
    font-size: 20px;
    line-height: 29px;
  }
}
