.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  outline-offset: -5px;
  min-height: 66px;
}

.navigation__item {
  font-size: 20px;
  line-height: 20px;
  font-family: $fontHeading;
  font-weight: 500;
  text-transform: uppercase;
  min-height: 66px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-top: 1px solid $grey;
}

.navigation__link {
  color: $basicblack;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    align-items: center;
    flex-direction: row;
    min-height: 60px;
    justify-content: flex-end;
  }

  .navigation__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__item--active .navigation__link {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      box-sizing: border-box;
      height: 2px;
      left: 0;
      bottom: -8px;
      background-color: $basicgreen;
    }
  }
}


@media (min-width: $desktop-width) {
  .navigation__item {
    font-size: 20px;
    line-height: 29px;
  }
}
