.achivement {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid $lightgrey;
  border-radius: 3px;
  padding: 14px 0;

  @media (min-width: $desktop-width) {
    padding: 14px 0 8px;
  }
}

.achivement__value {
  font-family: $fontHeading;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 14px;
  margin: 0;
}

.achivement__text {
  position: absolute;
  bottom: -10px;
  max-width: 60px;
  left: 0;
  right: 0;
  margin: auto;
  color: $darkgrey;
  background-color: $mediumgrey;
  padding: 0 18px;
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: $tablet-width) {
  .achivement__value {
    font-size: 30px;
    line-height: 37px;
  }

  .achivement__text {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    max-width: 127px;
    bottom: -5px;
    background-color: $basicwhite;
  }

  .achivement {
    &:first-child .achivement__text {
      padding: 0 7px;
      max-width: 100px;
      display: inline-block;
    }

    &:last-child .achivement__text {
      padding: 0 7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achivement__text {
    background-color: $mediumgrey;
  }
}
