.achivement {
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.8);
}

.achivement__value {
  font-family: $fontHeading;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.achivement__text {
  color: $darkgrey;
  font-size: 12px;
  line-height: 12px;
}

@media screen and (min-width: 768px) {
  .achivement__value {
    font-size: 30px;
    line-height: 37px;
  }

  .achivement__text {
    font-size: 14px;
    line-height: 14px;
  }
}
