.features__title {
  @include block-title;
  margin-top: 20px;
  margin-bottom: 38px;
}

.features__container {
  @include adaptive-width;
}

.features__list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-row-gap: 20px;
  padding: 0;
}

.features__item {
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";
    flex-basis: 60px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $basicgreen;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.features__item--leaf {
  &::before {
    content: url("../../../img/icon_leaf.svg");
  }
}

.features__item--powder {
  &::before {
    content: url("../../../img/icon_powder.svg");
  }
}

.features__item--fork {
  &::before {
    content: url("../../../img/icon_fork.svg");
  }
}

.features__item--clock {
  &::before {
    content: url("../../../img/icon_clock.svg");
  }
}

.features__text {
  color: $darkgrey;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .features {
    border-bottom: 1px solid $bordergrey;
  }

  .features__title {
    margin-top: 40px;
    margin-bottom: 76px;
  }

  .features__list {
    grid-template-columns: 246px 246px;
    grid-column-gap: 140px;
    grid-row-gap: 37px;
    counter-reset: items 0;
  }

  .features__item {
    min-height: 280px;
    flex-direction: column;
    flex-wrap: wrap;
    counter-increment: items 1;
    position: relative;
    z-index: 1;

    &::before {
      flex-basis: 80px;
      width: 80px;
      height: 80px;
    }

    &::after {
      z-index: -1;
      position: absolute;
      right: 0;
      top: 0;
      font-family: $fontHeading;
      color: $basicgrey;
      font-size: 280px;
      line-height: 67%;
      content: counter(items);
    }
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 0;
  }
}


@media (min-width: $desktop-width) {
  .features {
    border: none;
  }

  .features__title,
  .features__list {
    padding: 0;
  }

  .features__title {
    margin-top: 76px;
    margin-bottom: 64px;
  }

  .features__list {
    grid-template-columns: repeat(4, 248px);
    grid-column-gap: 79px;
  }
}
