.hero {
  position: absolute;
  z-index: -1;
  display: flex;
  background: linear-gradient(0deg, rgba($basicgreen, 0.85), rgba($basicgreen, 0.85)), url("../../img/index-background-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 302px;
  width: 100%;
  flex-direction: column;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(0deg, rgba($basicgreen, 0.85), rgba($basicgreen, 0.85)), url("../../img/index-background-mobile@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero__img {
  position: absolute;
  // max-width: 280px;
  z-index: -1;
  margin: auto;
  bottom: -140px;
  left: 0;
  right: 0;
}


@media (min-width: $tablet-width) {
  .hero {
    background: none;
    top: 190px;
    min-height: 609px;
    z-index: -1;
  }

  .hero__img-wrapper {
    min-height: 609px;
    width: 100%;
  }

  .hero__img {
    width: 709px;
    top: 70px;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    right: -50%;
    background: linear-gradient(0deg, rgba($basicgreen, 0.85), rgba($basicgreen, 0.85)), url("../../img/index-background-desktop.jpg") no-repeat;
    top: -148px;
    background-position: center;
    background-size: cover;
    height: 694px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(0deg, rgba($basicgreen, 0.85), rgba($basicgreen, 0.85)), url("../../img/index-background-desktop@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .hero__img {
    left: -81%;
    top: 98px;
    width: 552px;
  }
}
