.programs__container {
  display: grid;
  gap: 20px;
  max-width: calc(100% - 40px);
  margin-top: 20px;
}

.programs__item {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .programs__container {
    margin-top: 0;
    gap: 30px;
    padding-top: 25px;
    max-width: calc(100% - 60px);
  }
}

@media (min-width: $desktop-width) {
  .programs__container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    max-width: $desktop-container-width;
  }

  .programs__item {
    max-width: initial;
  }
}
