.program {
  background-color: $basicgrey;
  padding: 24px 20px 18px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.program__image {
  background-color: $basicgreen;
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0 20px;
  align-self: center;
}

.program__description {
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  margin: 20px 0 0;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid $bordergrey;
}

.program__link {
  color: $basicblack;
  font-family: $fontHeading;
  font-size: 16px;
  line-height: 2;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  margin-top: 16px;

  &:active {
    opacity: 0.3;
  }
}

.program__link-addon {
  margin-left: 12px;
}

.program--slim .program__icon {
  width: 36px;
  min-width: 36px;
}

.program--pro .program__icon {
  width: 67px;
  min-width: 67px;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 77px 53px 53px;
    align-items: center;
  }

  .program__image {
    order: 3;
    width: 200px;
    height: 200px;
    flex-basis: 200px;
    align-self: center;
    margin-left: 45px;
    margin-right: auto;
    margin-top: -28px;
  }

  .program__title {
    order: 1;
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
  }

  .program__description {
    order: 2;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-top: -50px;
    color: $basicblack;
    border: none;
  }

  .program__title,
  .program__description {
    flex-basis: 58%;
  }

  .program__link {
    order: 4;
    font-size: 20px;
    line-height: 29px;
    flex-basis: 100%;
    margin-left: 10px;
    margin-top: 0;
  }

  .program--slim .program__icon {
    width: 140px;
    min-width: 140px;
  }

  .program--pro .program__icon {
    width: 268px;
    min-width: 268px;
  }

  .program--pro .program__image {
    margin-left: 50px;
    margin-top: -15px;
  }
}


@media (min-width: $desktop-width) {
  .program {
    padding: 47px 52px 62px;
  }

  .program__image {
    flex-basis: 100px;
    width: 100px;
    height: 100px;
    margin: 0;
    order: 1;
  }

  .program--pro .program__image {
    margin: 0;
  }

  .program__title,
  .program__description {
    flex-basis: auto;
  }

  .program__title {
    order: 2;
    font-size: 36px;
    line-height: 36px;
    margin-left: 62px;
  }

  .program__description {
    order: 3;
    padding-bottom: 0;
    margin-top: 44px;
  }

  .program__link {
    order: 4;
    margin-top: 27px;
    margin-left: 0;
    flex-basis: auto;
  }

  .program__link-addon {
    margin-left: 25px;
  }

  .program--slim .program__icon {
    width: 70px;
    min-width: 70px;
  }

  .program--pro .program__icon {
    width: 134px;
    min-width: 134px;
  }
}
