.programs__container {
  display: grid;
  max-width: calc(100% - 40px);
}

.programs__item {
  width: 100%;
}

@media (min-width: $desktop-width) {
  .programs__container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    max-width: $desktop-container-width;
  }

  .programs__item {
    max-width: initial;
  }
}
