.slider {
  text-align: center;
}


.slider__visualization {
  position: relative;
  min-height: 230px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 680px;
    min-height: 358px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.slider__controls {
  margin: 26px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;

  @include adaptive-width;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 112px);
  }
}

.slider__label {
  font-family: $fontHeading;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.slider__label--before {
  text-align: right;
  margin-right: 18px;
}

.slider__label--after {
  text-align: left;
  margin-left: 18px;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider__image--before {
  z-index: 1;
}

.slider__image--after {
  z-index: -1;
}

input[type="range"] {
  appearance: none;
  outline: none;
  border-radius: 6px;
  height: 14px;
  width: 84px;

  @media (min-width: $tablet-width) {
    height: 6px;
    flex-basis: 428px;
  }
}

input[type="range"]::-webkit-slider-container {
  appearance: none;
  border-radius: 6px;
  height: 14px;

  @media (min-width: $tablet-width) {
    height: 6px;
  }
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  height: 14px;
  padding: 2px 8px;
  cursor: pointer;
  background-color: $basicwhite;
  border-radius: 6px;
  border: 1px solid $lightgrey;

  @media (min-width: $tablet-width) {
    border: none;
    height: 6px;
    padding: 0;
    background-color: $lightgrey2;
  }
}

.slider input[type="range"]::-moz-range-track {
  height: 14px;
  cursor: pointer;
  padding: 2px 8px;
  background-color: $basicwhite;
  border-radius: 8px;
  border: 1px solid $lightgrey;

  @media (min-width: $tablet-width) {
    border: none;
    height: 6px;
    padding: 0;
    background-color: $lightgrey2;
  }
}

.slider input[type="range"]::-ms-track {
  height: 14px;
  cursor: pointer;
  padding: 2px 8px;
  background-color: $basicwhite;
  border-radius: 8px;
  border: 1px solid $lightgrey;

  @media (min-width: $tablet-width) {
    border: none;
    height: 6px;
    padding: 0;
    background-color: $lightgrey2;
  }
}

.slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 6px;
  width: 36px;
  border-radius: 3px;
  background: $basicgreen;
  cursor: pointer;
  margin-top: 1px;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -16px;
    border: 1px solid $lightgrey;
    box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 4px 11px -3px $darkgrey;

    &:hover {
      box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 2px 4px $darkgrey;
    }

    &:focus,
    &:active {
      border: 1px solid $basicgreen;
    }
  }
}

.slider input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 6px;
  width: 36px;
  border-radius: 3px;
  background: $basicgreen;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: -2px;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -16px;
    border: 1px solid $lightgrey;
    box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 4px 11px -3px $darkgrey;

    &:hover {
      box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 2px 4px $darkgrey;
    }

    &:focus,
    &:active {
      border: 1px solid $basicgreen;
    }
  }
}

.slider input[type="range"]::-ms-thumb {
  appearance: none;
  height: 6px;
  width: 36px;
  border-radius: 3px;
  background: $basicgreen;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: -2px;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -16px;
    border: 1px solid $lightgrey;
    box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 4px 11px -3px $darkgrey;

    &:hover {
      box-shadow: inset 0 0 0 12px $basicwhite, inset -8px -8px 0 -8px $basicwhite, 0 2px 4px $darkgrey;
    }

    &:focus,
    &:active {
      border: 1px solid $basicgreen;
    }
  }
}

@media (min-width: $tablet-width) {
  .slider__image {
    top: -160px;
    height: 100%;
  }

  .slider__controls {
    margin: 0 auto;
  }

  .slider__label {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $lightgrey;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__image {
    top: -240px;
    height: initial;
  }

  .slider__visualization {
    min-height: 296px;
  }
}
