.slider {
  text-align: center;
}

.slider__label {
  font-family: $fontHeading;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .slider__label {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $grey;
  }
}
