@mixin flex-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 289px;
  margin: 0 auto;
  max-width: calc(100% - 40px);

  @include flex-banner;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.png");
  }
}

.banner__img {
  display: block;
  margin-top: 19px;
  margin-bottom: 37px;
}

.banner__text {
  @include text-basic;
  font-size: 16px;
  line-height: 20px;
  color: $basicwhite;
  max-width: 160px;
  text-align: center;
}

@media screen and (min-width: $tablet-width) {
  .banner {
    flex-direction: row;
    justify-content: space-between;
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.png");
    }
  }

  .banner__img {
    margin-left: 80px;
  }

  .banner__text {
    margin: 0 124px 0 0;
    text-align: left;
  }
}

@media screen and (min-width: $desktop-width) {
  .banner {
    @include flex-banner;
    background-image: url("../../img/gift-photo-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.png");
    }
  }

  .banner__img,
  .banner__text {
    margin: 0;
  }

  .banner__text {
    text-align: center;
    margin-top: 48px;
  }
}
