.banner {
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner__text {
  font-size: 16px;
  line-height: 20px;
  color: $basicwhite;
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: url("../../img/gift-photo-tablet.png");
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background-image: url("../../img/gift-photo-desktop.png");
  }
}
