img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    max-width: calc(100% - 60px);
  }

  @media screen and (min-width: $desktop-width) {
    max-width: $desktop-width - 220px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeading;
  color: $basicblack;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $fontMain;
}

.page__title {
  @include page-title;
}

.page--main .header {
  border: none;
}

.button {
  @include btn;
}

.button--muted {
  @include btn-muted;
}
