@mixin btn {
  display: inline-flex;
  justify-content: center;
  background-color: $basicgreen;
  color: $basicwhite;
  font-family: $fontHeading;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: $basicgreen2;
  }

  &:active,
  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 0;
  }
}

@mixin btn-muted {
  @include btn;
  color: $darkgrey;
  background-color: $basicgrey;

  &:hover {
    background-color: $basicgrey2;
  }

  &:active {
    color: lighten($darkgrey, 30%);
  }
}

@mixin block-title {
  font-family: $fontHeading;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin section-title {
  font-family: $fontHeading;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -8px;
    z-index: -1;
    width: 90%;
    right: 0;
    margin: auto;
    height: 2px;
    background-color: $basicgreen;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 100%;
      bottom: -8px;
    }
  }
}

@mixin page-title {
  font-weight: 400;
  color: $basicblack;
  width: calc(100% - 40px);
  margin: 0 auto;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin text-special {
  font-family: $fontHeading;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

@mixin text-basic {
  font-size: 12px;
  line-height: 16px;
  color: $darkgrey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin adaptive-width-basic {
  max-width: calc(100% - 40px);
}

@mixin adaptive-width {
  @include adaptive-width-basic;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 60px);
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-container-width;
  }
}

@mixin adaptive-width-special {
  @include adaptive-width;

  @media (min-width: $tablet-width) {
    max-width: calc(100% - 140px);
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-container-width;
  }
}
