//Colors
$basicblack: #000000;
$basicwhite: #ffffff;
$basicgreen: #68b738;
$basicgrey: #f2f2f2;

$darkgrey: #444444;
$lightgrey: #cdcdcd;
$grey: #d9d9d9;
$mercury: #ebebeb;
$squant: #666666;
$error: #ff8282;
$grass: #5eaa2f;

// Fonts
$fontHeading: "Oswald";
$fontMain: Arial, Helvetica, sans-serif;
