//Colors
$basicblack: #000000;
$basicwhite: #ffffff;
$basicgreen: #68b738;
$basicgreen2: #5eaa2f;

$basicgrey: #f2f2f2;
$social: #666666;
$basicgrey2: #ebebeb;
$mediumgrey: #eaeaea;
$darkgrey: #444444;
$lightgrey: #cdcdcd;
$lightgrey2: #dcdcdc;
$lightgrey3: #e7e7e7;
$lightgrey4: #bababa;
$grey: #d9d9d9;
$specialdarkgrey: #222222;
$mercury: #ebebeb;
$squant: #666666;
$error: #ff8282;
$grass: #5eaa2f;
$bordergrey: #e6e6e6;

// Fonts
$fontHeading: "Oswald", "Arial Narrow", sans-serif;
$fontMain: arial, helvetica, sans-serif;


// Viewports
$tablet-width: 768px;
$desktop-width: 1240px;
$mobile-width-only: 767px;

// Widths
$desktop-container-width: 1220px;
