.form-section {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.form-section__container,
.form-section__title-container {
  @include adaptive-width;
  margin: 0 auto;
}

.form-section__container {
  display: grid;
  grid-row-gap: 11px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 20px;
  }
}

.form-section__title-container {
  display: block;
}

.form-section__title-text {
  display: inline-flex;
  max-width: 200px;
  padding: 0 20px 0 0;
  background-color: $basicwhite;

  @media (min-width: $tablet-width) {
    max-width: 512px;
    padding: 0 40px;
    margin-left: -40px;
  }
}

.form-section__title {
  position: relative;
  display: flex;
  flex-basis: 100%;
  z-index: 1;
  margin-top: 0;

  @include section-title;
}

.form-section__item {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 14px;
  align-content: center;
  min-height: 40px;
}

.form-section__text {
  @include text-special;
  color: $darkgrey;
  align-self: center;
}

.form-section__input {
  @include text-special;
  outline: none;
  box-sizing: border-box;
  border: 1px solid $lightgrey3;
  padding: 14px;

  &::placeholder {
    @include text-special;
    color: $darkgrey;
  }

  &:hover {
    border-color: $lightgrey;
  }

  &:focus {
    border-color: $darkgrey;
  }
}

.form-section__input--invalid {
  border-color: $error;

  &:hover,
  &:focus {
    border-color: $error;
  }
}

.form-section__input:active + .form-section__icon,
.form-section__input:focus + .form-section__icon {
  color: $basicgreen;
}

.form-section__input--invalid + .form-section__icon {
  color: $error;
}

.form-section__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  color: $basicblack;
}

.form-section__input--textarea {
  resize: none;
}

.form-section--program .form-section__container {
  grid-row-gap: 3px;

  @media (min-width: $tablet-width) {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid $mediumgrey;
  }
}

.form-section--program .form-section__item {
  display: flex;
  align-items: center;
}

.form-section__radio,
.form-section__check {
  display: none;
}

.form-section--program .form-section__text,
.form-section--additional .form-section__text {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-content: center;
  vertical-align: middle;
}

.form-section--program .form-section__text {
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $lightgrey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form-section--additional .form-section__text {
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid $lightgrey;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form-section__text-content {
  margin-left: 6px;
}

.form-section--program .form-section__item:hover,
.form-section--additional .form-section__item:hover {
  cursor: pointer;
}

.form-section__item:hover .form-section__radio:not(:checked) + .form-section__text,
.form-section__item:hover .form-section__check:not(:checked) + .form-section__text {
  &::before {
    border-color: $lightgrey4;
  }
}


.form-section__item .form-section__radio:disabled + .form-section__text,
.form-section__item .form-section__check:disabled + .form-section__text {
  opacity: 0.3;
  pointer-events: none;

  &:hover {
    cursor: not-allowed;
  }
}

.form-section--program .form-section__text-content,
.form-section--additional .form-section__text-content {
  display: flex;
  align-items: center;
}

.form-section__radio:checked + .form-section__text {
  &::before {
    border-color: $basicgreen;

    background-image: radial-gradient($basicgreen 0, $basicgreen 6px, $basicwhite 7px, $basicwhite 100%);

    @media (min-width: $tablet-width) {
      background-image: radial-gradient($basicgreen 0, $basicgreen 9px, $basicwhite 10px, $basicwhite 100%);
    }
  }
}

.form-section__check:checked + .form-section__text {
  &::before {
    border-color: $basicgreen;

    background: url("../../../img/icon_tick.svg") no-repeat center;
    background-size: 21px;
  }
}


.form-section--basic,
.form-section--program {
  border-bottom: 1px solid $mediumgrey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.form-section--basic {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.form-section--program {
  padding-top: 20px;
  padding-bottom: 10px;
  grid--template-rows: repeat(3, 40px);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}


.form-section--contact .form-section__title {
  margin: 30px auto 35px;

  &::after {
    bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.form-section--contact .form-section__title-text {
  padding-right: 0;
}

.form-section--contact .form-section__container {
  padding-bottom: 24px;
}

.form-section--comment .form-section__title {
  margin-top: -4px;
}

.form-section--comment .form-section__container {
  padding-top: 16px;
  padding-bottom: 66px;
}

.form-section--comment .form-section__input {
  padding: 6px 12px;
}

.form-section--additional .form-section__title {
  margin-bottom: 31px;
}

.form-section--additional .form-section__container {
  grid-row-gap: 3px;
}

@media (min-width: $tablet-width) {
  .form-section--additional .form-section__container {
    grid-template-columns: 2fr 2fr;
  }
}

@media (min-width: $desktop-width) {
  .form-section--additional .form-section__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .form-section--basic,
  .form-section--program {
    flex-basis: 50%;
    flex-grow: 1;
  }

  .form-section--basic {
    margin-left: auto;
  }

  .form-section--program {
    margin-right: auto;
  }

  .form-section--program .form-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
}
