.page--form .header {
  border-bottom: 1px solid $grey;
}


@media screen and (min-width: $tablet-width) {
  .page--form .header {
    border: none;
  }

  .page--form .contacts,
  .page--form .contacts__text {
    background-color: $mediumgrey;
  }
}

@media screen and (min-width: $desktop-width) {
  .page--form .navigation__link {
    color: $basicblack;
  }

  .page--form .contacts,
  .page--form .contacts__text {
    background-color: $basicwhite;
  }
}
