.program-select-form {
  padding-bottom: 32px;
}

.program-select-form__top {
  display: flex;
  gap: 80px;
}

.program-select-form__top .form-section__container {
  width: 100%;
  max-width: initial;
}

.program-select-form__top,
.program-select-form__title-container,
.program-select-form__controls-container {
  @include adaptive-width-special;
}

.program-select-form__controls-container {
  margin-top: 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.program-select-form__title {
  @include block-title;
}

.program-select-form__description {
  @include text-special;

  @media (min-width: $tablet-width) {
    max-width: 323px;
  }
}

.program-select-form__form {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }
}

.program-select-form__form,
.program-select-form__controls-container {
  display: grid;
}

.program-select-form__hint {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .program-select-form {
    padding-bottom: 72px;
  }

  .program-select-form__form {
    grid-row-gap: 72px;
  }

  .program-select-form__button {
    justify-self: start;
    width: 282px;
  }

  .program-select-form__hint {
    font-size: 16px;
    line-height: 16px;
  }

  .program-select-form__controls-container {
    grid-template-columns: max-content 1fr;
    grid-column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .program-select-form {
    padding-bottom: 82px;
  }

  .program-select-form__form {
    grid-row-gap: 72px;
  }

  .program-select-form__top {
    flex-direction: row;
  }

  .program-select-form__button {
    width: 568px;
  }
}
