.program-select-form {
  padding-bottom: 32px;
}

.program-select-form__top {
  display: flex;
  flex-direction: column;
}

.program-select-form__title-container,
.program-select-form__controls-container {
  @include adaptive-width-special;
}

.program-select-form__controls-container {
  margin-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.program-select-form__title {
  @include block-title;
  margin-bottom: 33px;
}

.program-select-form__description {
  @include text-special;

  @media (min-width: $tablet-width) {
    max-width: 323px;
  }
}

.program-select-form__form {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
  }
}

.program-select-form__form,
.program-select-form__controls-container {
  display: grid;
}

.program-select-form__hint {
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .program-select-form {
    padding-bottom: 72px;
  }

  .program-select-form__top {
    gap: 68px;
  }

  .program-select-form__title {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .program-select-form__form {
    grid-row-gap: 65px;
    padding-top: 42px;
  }

  .program-select-form__button {
    justify-self: start;
    width: 282px;
  }

  .program-select-form__hint {
    font-size: 16px;
    line-height: 16px;
  }

  .program-select-form__controls-container {
    grid-template-columns: max-content 1fr;
    grid-column-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .program-select-form {
    padding-bottom: 82px;
  }

  .program-select-form__form {
    grid-row-gap: 72px;
  }

  .program-select-form__top {
    flex-direction: row;
  }

  .program-select-form__button {
    width: 568px;
  }
}
